{include file='head'}
<body>
    <form action='/admin/Story/doEdit/id/{$story.id}' method='post'  class="layui-form column-content-detail">
        <div class="layui-form-item">
            <label class="layui-form-label">文章标题：</label>
            <div class="layui-input-block">
                <input type="text" name="story[title]" value='{$story.title}'  lay-verify="required" placeholder="请输入文章标题" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">分类栏目：</label>
            <div class="layui-input-block">
                <select name="story[story_cat_id]" lay-verify="required">
                    <option value="">请选择分类栏目</option>
                    {foreach name='StoryCat' item='cat'}
                    <option value="{$cat.sid}" {if $cat.sid eq $story.story_cat_id}selected{/if}>{$cat.type_name}</option>
                    {/foreach}
                </select>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">标签：</label>
            <div class="layui-input-block">
                <input type="checkbox" {if $story.is_top eq 1}checked{/if} value="1" name="story[is_top]" title="置顶">
                       <input type="checkbox" {if $story.is_hot eq 1}checked{/if} value="1" name="story[is_hot]" title="热门">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">图像上传：</label>
            <div class="layui-input-block">
                <button type="button" name='myfile' class="layui-btn" id="upload">
                    <i class="layui-icon">&#xe67c;</i>上传图片
                </button>
                <input type="hidden" name="story[pic]"  value='{$story.pic}' id="pic">
                <div id="ImgPreview" style="margin-top: 10px;">
                    {if $story.pic <> ''}
                    <a href='javascript:;' class="photo">
                        <img src="{$story.pic}"  layer-src="{$story.pic}"  />
                       
                    </a>
                    {/if}
                </div>
            </div>
        </div> 
        <div class="layui-form-item">
            <label class="layui-form-label">普通话语音上传：</label>
            <div class="layui-input-block">
                <button type="button" name='myfile' class="layui-btn" id="upload_pt">
                    <i class="layui-icon">&#xe67c;</i>上传文件
                </button>
                <input type="hidden" name="story[pt_path]"  value='{$story.pt_path}' id="pt_path">
                <div id="PtPreview" style="margin: 26px 0px 12px 0px;">
                    {if $story.pt_path <> ''}
                        <a href="{$story.pt_path}" class="photo" target="_blank">
                            <h2>{$story.pt_path}</h2>
                        </a>
                    {/if}
                </div>
            </div>
        </div>    
        <div class="layui-form-item">
            <label class="layui-form-label">粤语语音上传：</label>
            <div class="layui-input-block">
                <button type="button" name='myfile' class="layui-btn" id="upload_yy">
                    <i class="layui-icon">&#xe67c;</i>上传文件
                </button>
                <input type="hidden" name="story[yy_path]"  value='{$story.yy_path}' id="yy_path">
                <div id="YyPreview" style="margin: 26px 0px 12px 0px;">
                    {if $story.pic <> ''}
                        <a href="{$story.yy_path}" class="photo" target="_blank">
                            <h2>{$story.yy_path}</h2>
                        </a>
                    {/if}
                </div>
            </div>
        </div>    
        <div class="layui-form-item layui-form-text">
            <label class="layui-form-label">描述：</label>
            <div class="layui-input-block">
                <textarea placeholder="请输入内容" name='story[desc]'  value='{$story.desc}' class="layui-textarea">{$story.desc}</textarea>
            </div>
        </div>
        <div class="layui-form-item layui-form-text">
            <label class="layui-form-label">文章内容：</label>
            <div class="layui-input-block">
                <textarea class="layui-textarea layui-hide" name="story[content]" lay-verify="content" id="editor"> {$story.content}</textarea>
            </div>
        </div>


        <div class="layui-form-item" style="padding-left: 10px;">
            <div class="layui-input-block">
                <button class="layui-btn layui-btn-normal" lay-submit lay-filter="formDemo">立即提交</button>
                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                <button class="layui-btn layui-btn-small layui-btn-primary go-btn" data-url="/admin/Story/index">返回</button>
            </div>
        </div>
    </form>
    <script>
        layui.use(['jquery', 'layedit', 'upload', 'form'], function () {
            var upload = layui.upload;
            var $ = layui.jquery;
            //执行实例
            var uploadObj = upload.render({
                elem: '#upload',
                accept: 'file',
                field: 'file',
                url: '/admin/Api/upload',
                done: function (res) {
                    if (res.code === 0) {
                        $('#pic').val(res.data.src)
                        $('#ImgPreview').html('<a href="' + res.data.src + '"class="photo" target="_blank"><h2>' + res.data.src + '</h2></a>');
                    } else {
                        layer.alert(res.msg, {title: '最终的提交信息'});
                    }
                },
                error: function (res) {
                    return;
                }
            });

             // 普通话语音文件上传
             var ptObj = upload.render({
                elem: '#upload_pt',
                accept: 'file',
                field: 'file',
                url: '/admin/Api/upload_file',
                done: function (res) {
                    $('#pt_path').val(res.data.src);
                    $('#PtPreview').html('<a href="' + res.data.src + '"class="photo" target="_blank"><h2>' + res.data.src + '</h2></a>');
                    layer.alert(res.msg, {title: '最终的提交信息'})
                },
                error: function (res) {
                    return;
                }
            });


            // 粤语语音文件上传
            var ptObj = upload.render({
                elem: '#upload_yy',
                accept: 'file',
                field: 'file',
                url: '/admin/Api/upload_file?type=yy',
                done: function (res) {
                    $('#yy_path').val(res.data.src)
                    $('#YyPreview').html('<a href="javascript:;" class="photo" target="_blank"><h2>' + res.data.src + '</h2></a>');
                    layer.alert(res.msg, {title: '最终的提交信息'})
                },
                error: function (res) {
                    return;
                }
            });

            var layedit = layui.layedit;
            layedit.set({
                uploadImage: {
                    url: '/admin/Api/editor',
                }
            });
            var editor = layedit.build('editor');
            var form = layui.form;
            form.verify({
                content: function (value) {
                    var text = layedit.getContent(editor);
                    if (text.length < 4) {
                        return '内容请输入至少4个字符';
                    }
                }
            });
        
        });

    </script>        
</body>
</html>